* {
  border: 0px;
  
  box-sizing: border-box;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.fields{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}

.field_1 {
  background: rgb(182, 125, 130);
  min-height: 100px;
  width: 200px;

}
.field_2 {
  background: rgb(149, 212, 148);
  min-height: 100px;
  width: 200px;

}
.field_3 {
  background: rgb(194, 226, 52);
  min-height: 100px;
  width: 200px;
}


.colory {
  cursor: pointer;
}


.colory-modal {
  position: fixed;
  left: 0;
  top:0;
  right:0;
  bottom: 0;
}


.colory-window {
  
  position: absolute;
  display: flex;
  flex-direction: row;
  min-width: 300px;
  min-height: 200px;
  background-color: rgb(65, 31, 31);
  border-radius: 5px;
 
}

.colory-picker {
  display: flex;
  min-height: 100%;
  min-width: 80%;
  padding: 10px;
}




.colory-picker-area-above {
  
  min-width: 100%;
  min-height: 100%;

  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,transparent));
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(255, 255, 255)), to(transparent));
  
  background: -webkit-linear-gradient(left,rgba(255,255,255,1) 0,transparent 100%);
  background-image: -webkit-linear-gradient(left, rgb(255, 255, 255) 0px, transparent 100%);
  
  background: linear-gradient(to right,rgba(255,255,255,1) 0,transparent 100%);
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0px, transparent 100%);

  cursor: crosshair;
  
}

.colory-picker-area {
  
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,transparent),color-stop(100%,rgba(0,0,0,1)));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(rgb(0, 0, 0)));

  background: -webkit-linear-gradient(top,transparent 0,rgba(0,0,0,1) 100%);
  background-image: -webkit-linear-gradient(top, transparent 0px, rgb(0, 0, 0) 100%);
  
  background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,1) 100%);
  background-image: linear-gradient(transparent 0px, rgb(0, 0, 0) 100%);
   
}


.colory-pickarea-pickpoint{
  /* display:none; */
  position:absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: solid 2px white;
  box-shadow: 0 0 0 2px black;
  transform: translate(50%, 50%);
  pointer-events: none;
}

.colory-range {
  min-height: 100%;
  min-width: 20%;
  padding: 10px;
}

.colory-range-area {
  cursor: grab;
  min-width: 100%;
  min-height: 100%;
  background:-webkit-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background: -o-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background: -ms-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background:-moz-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background: -webkit-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background: linear-gradient(to bottom,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
}

.colory-range-pickpoint {
  background-color:wheat;
  height: 2px;
  width: 100%;
  transform: translate(0, -50%);
}
.colory-range-pickpoint::before {
  position: absolute;
  content:'';
  border: 5px solid transparent; 
  border-left: 5px solid wheat;
  transform: translate(-40%, calc(-50% + 1px)); 
}
.colory-range-pickpoint::after {
  position: absolute;
  content:'';
  border: 5px solid transparent; 
  border-right: 5px solid wheat;
  right:0;
  transform: translate(40%, calc(-50% + 1px)); 
}

.colory-grab{
  cursor: grabbing;
}


